*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background: #f9e2b3;
}

.machine_container{
    position: absolute;
    left: calc(50% - 450px);
    top: calc(50% - 250px);


    background: #e2ba7d;
    width: 900px;
    height: 500px;
    perspective: 2000px;

    transform: scale(.5);
}

.machine_container *{
    transform-style: preserve-3d;
}

.machine_door_container{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 200px;
    transform: rotateY(0deg);
    transform-origin: left center;
    transition: transform 1s;
}
.machine_door_container.is-open{
    transform: rotateY(-90deg);
}

.machine_door_front{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    border: 60px solid #7e7d8e;
    background: rgba(255, 255, 255, .6);
    /* transform: rotateY(-90deg) translateZ(calc(700px / 2)); */
}
.machine_door_back{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    border: 60px solid #383748;
    background: rgba(255, 255, 255, .6);
    transform: rotateY(180deg) translateZ(20px);
    /* backface-visibility: hidden; */
}
.machine_door_slice, .machine_door_backslice{
    position: absolute;
    width: 20px;
    height: 100%;
}
.machine_door_bottomslice, .machine_door_topslice{
    position: absolute;
    height: 20px;
    width: 100%;
}

.machine_door_slice{
    background: #6a697a;
    transform: rotateY(90deg) translateX(10px) translateZ(690px);
}
.machine_door_backslice{
    background: #6a697a;
    transform: rotateY(90deg) translateX(10px) translateZ(0);
}

.machine_door_topslice{
    background: #6a697a;
    transform: rotateX(90deg) translateY(-10px) translateZ(0);
}

.machine_door_bottomslice{
    background: #6a697a;
    transform: rotateX(90deg) translateY(-10px) translateZ(-490px);
}



/*

    MACHINE DEPTH

*/

.machine_depth{
    position: absolute;
    left: 60px;
    top: 60px;
    right: 260px;
    bottom: 60px;
    /* background: rgba(255, 0, 0, .3); */
    
    /* 580 x 380 */
    perspective: -300px;
    z-index: -1;
}

.machine_depth_left, .machine_depth_right, .machine_depth_top, .machine_depth_bottom, .machine_depth_back{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.machine_depth_left{
    transform: rotateY(90deg) translateZ(-300px) translateX(300px);
}

.machine_depth_right{
    transform: rotateY(-90deg) translateZ(-300px) translateX(-300px);
}

.machine_depth_top{
    transform: rotateX(-90deg) translateZ(-190px) translateY(300px);
}

.machine_depth_bottom{
    transform: rotateX(-90deg) translateZ(200px) translateY(300px);
}

.machine_depth_back{
    transform: rotateY(0deg) translateZ(-580px) translateX(3px);
}

/*

    COLUMN

*/
.machine_column{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4a384b;
    color: white;
    padding: 20px;
    font-size: 20px;
    width: 200px;
    z-index: -1;
}
.door_opener{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 60px;
    background: #6d5a6e;
    /* border: 5px solid #9f45a3; */
    transition: box-shadow .1s;
    cursor: pointer;
    will-change: box-shadow;
}

.door_opener:hover{
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,.3);
    box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,.3);
}

.door_opener:active{
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
}